@charset "IBM437";
@keyframes caret {
  50% {
    opacity: 0.1 !important;
    transform: scaleY(0.8) !important; } }

@-webkit-keyframes caret {
  50% {
    opacity: 0.1 !important;
    -webkit-transform: scaleY(0.8) !important; } }

.fancyInput {
  display: inline-block !important;
  letter-spacing: -1px !important;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.6) !important;
  white-space: nowrap !important;
  width: auto !important;
  font-family: "Fjalla One", sans-serif !important;
  position: relative !important;
  /* only Caret which is */
  /* lettes */
  /*.fancyInput > div span:last-of-type ~ br{ display:block !important; white-space:pre !important; }*/
  /*.fancyInput br:last-of-type + .caret{ position:static !important; display:inline-block !important; }*/
  /* text effects */ }
  .fancyInput ::-webkit-input-placeholder {
    color: transparent !important; }
  .fancyInput :-moz-placeholder {
    color: transparent !important; }
  .fancyInput ::-moz-placeholder {
    color: transparent !important; }
  .fancyInput :-ms-input-placeholder {
    color: transparent !important; }
  .fancyInput.textarea {
    white-space: normal !important;
    overflow: auto !important; }
  .fancyInput input, .fancyInput textarea {
    color: transparent !important;
    position: absolute !important;
    z-index: 2 !important;
    width: 100% !important;
    border: 0 !important;
    outline: 0 !important;
    top: 0px !important;
    left: 0 !important;
    background: none !important;
    padding: inherit !important;
    padding-bottom: 0 !important;
    font-family: "Fjalla One", sans-serif !important;
    font-size: inherit !important;
    letter-spacing: -1px !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important; }
  .fancyInput input {
    top: 1px !important;
    left: -1px !important;
    padding-right: 0 !important; }
  .fancyInput textarea {
    word-break: break-all !important;
    overflow: hidden !important;
    height: 100% !important; }
  .fancyInput > div {
    display: inline-block !important;
    position: relative !important; }
    .fancyInput > div:before {
      opacity: 0 !important;
      left: -20px !important;
      content: attr(data-placeholder) !important;
      position: absolute !important;
      transition: 0.3s ease-out !important; }
    .fancyInput > div.empty:before {
      opacity: 0.2 !important;
      left: 0 !important; }
  .fancyInput input:focus ~ div.empty:before {
    opacity: .1 !important; }
  .fancyInput.textarea > div {
    width: 99.9%% !important; }
  .fancyInput *:focus ~ .caret,
  .fancyInput *:focus ~ div .caret {
    opacity: .8 !important;
    box-shadow: 0 0 8px #FFF !important;
    -webkit-animation: 0.4s 40ms caret infinite !important;
    animation: 0.4s 40ms caret infinite !important; }
  .fancyInput .caret {
    font-weight: normal !important;
    opacity: 0 !important;
    display: inline-block !important;
    width: 3px !important;
    margin-left: -3px !important;
    background: #FFF !important;
    border-radius: 4px !important;
    -moz-user-select: none !important; }
  .fancyInput span:not(.deleted) ~ .caret {
    position: absolute !important;
    margin: 0 !important; }
  .fancyInput > div span {
    -webkit-transition: 100ms cubic-bezier(0, 0.6, 0.55, 1.4) !important;
    transition: 100ms cubic-bezier(0, 0.6, 0.55, 1.4) !important;
    display: inline-block !important;
    position: relative !important; }
  .fancyInput > input[type=password] + div span:empty::after {
    content: 'â—' !important;
    display: inline !important; }
  .fancyInput > div .deleted {
    opacity: 0 !important;
    -webkit-transition: 140ms !important;
    transition: 140ms !important;
    -webkit-transform: translateX(12px) !important;
    transform: translateX(12px) !important; }
  .fancyInput > div span.state1 {
    -webkit-transform: translateY(-25px) rotateX(90deg) !important;
    transform: translateY(-25px) rotateX(90deg) !important; }
  .fancyInput > div span.state2 {
    -webkit-transform: translateY(25px) rotateX(90deg) !important;
    transform: translateY(25px) rotateX(90deg) !important; }

/* DEMO text effects */
.effect2 .fancyInput > div span.state1, .effect2 .fancyInput > div span.state2 {
  -webkit-transform: translateX(10px) scale(1.8) !important;
  transform: translateX(10px) scale(1.8) !important; }

.effect3 .fancyInput > div span {
  -webkit-transition: 200ms cubic-bezier(0, 0.6, 0.55, 1.4) !important;
  transition: 200ms cubic-bezier(0, 0.6, 0.55, 1.4) !important; }
  .effect3 .fancyInput > div span.state1, .effect3 .fancyInput > div span.state2 {
    opacity: 0 !important;
    -webkit-transform: scale(0.4) !important;
    transform: scale(0.4) !important;
    -webkit-filter: blur(2px) !important; }

.effect4 .fancyInput > div span {
  -webkit-transition-duration: 150ms !important;
  transition-duration: 150ms !important; }
  .effect4 .fancyInput > div span.state1, .effect4 .fancyInput > div span.state2 {
    opacity: 0 !important;
    -webkit-transform: translateY(-60px) !important;
    transform: translateY(-60px) !important; }

.effect5 .fancyInput > div span {
  -webkit-transition-duration: 150ms !important;
  transition-duration: 150ms !important; }
  .effect5 .fancyInput > div span.state1, .effect5 .fancyInput > div span.state2 {
    opacity: 0 !important;
    -webkit-transform: translateX(-30px) !important;
    transform: translateX(-30px) !important;
    opacity: 0 !important; }